@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/watch?v=Dd7FixvoKBw">/watch?v=Dd7FixvoKBw</a></p>
    <p><a href="/gp/buyagain?ie=UTF8&ref_=nav_cs_buy_again_42b0b0f447e84602b6bbf4316ba59d2e">/gp/buyagain?ie=UTF8&ref_=nav_cs_buy_again_42b0b0f447e84602b6bbf4316ba59d2e</a></p>
    <p><a href="/HighKey-Snacks-Keto-Mini-Cookies/dp/B07JYS45BT?pd_rd_w=fTYaB&pf_rd_p=d93af0ec-0925-424f-adfe-bd7170a550eb&pf_rd_r=DE7PJQ64V04PQW2T185E&pd_rd_r=e8cb0542-6743-4579-983d-cfdfd3169288&pd_rd_wg=maOVU&pd_rd_i=B07JYS45BT&psc=1&ref_=pd_bap_d_rp_4_i">/HighKey-Snacks-Keto-Mini-Cookies/dp/B07JYS45BT?pd_rd_w=fTYaB&pf_rd_p=d93af0ec-0925-424f-adfe-bd7170a550eb&pf_rd_r=DE7PJQ64V04PQW2T185E&pd_rd_r=e8cb0542-6743-4579-983d-cfdfd3169288&pd_rd_wg=maOVU&pd_rd_i=B07JYS45BT&psc=1&ref_=pd_bap_d_rp_4_i</a></p>
    <p><a href="/2021/06/15/politics/ufo-report-briefing-pentagon-fighting">/2021/06/15/politics/ufo-report-briefing-pentagon-fighting</a></p>
    <p><a href="/shows/big-sky/episode-guide/season-01/02-nowhere-to-run">/shows/big-sky/episode-guide/season-01/02-nowhere-to-run</a></p>
    <p><a href="/shows/the_bold_and_the_beautiful/video/iMuKN3mYseupbob2RorAOWCbyHe5b1ic_1623166154137_1/the-bold-and-the-beautiful-6-15-2021/">/shows/the_bold_and_the_beautiful/video/iMuKN3mYseupbob2RorAOWCbyHe5b1ic_1623166154137_1/the-bold-and-the-beautiful-6-15-2021/</a></p>
    <p><a href="/en-us/powerapps/maker/data-platform/">/en-us/powerapps/maker/data-platform/</a></p>
    <p><a href="/main?app=d365default&forceUCI=1&pagetype=dashboard&id=57220268-843b-e511-80d1-00155db10d2b&type=system">/main?app=d365default&forceUCI=1&pagetype=dashboard&id=57220268-843b-e511-80d1-00155db10d2b&type=system</a></p>
    <p><a href="/manage/environments/Default-45b43125-30ff-4d69-94d5-80d75f89372b/flows/f5774ee8-70a9-40a0-bb6f-c32a3ee9495d/details">/manage/environments/Default-45b43125-30ff-4d69-94d5-80d75f89372b/flows/f5774ee8-70a9-40a0-bb6f-c32a3ee9495d/details</a></p>
    <p><a href="/environments/environment/8f407e08-4c15-4775-80fa-b79011065967/hub?geo=Na">/environments/environment/8f407e08-4c15-4775-80fa-b79011065967/hub?geo=Na</a></p>
    <p><a href="/en-us/pdp?id=c7f51233-a913-43b3-bc7c-59b30e25e04b">/en-us/pdp?id=c7f51233-a913-43b3-bc7c-59b30e25e04b</a></p>
    <p><a href="/2021/06/15/uberall-raises-115m-acquires-momentfeed-to-scale-up-its-location-marketing-services/">/2021/06/15/uberall-raises-115m-acquires-momentfeed-to-scale-up-its-location-marketing-services/</a></p>
</div>
